shapes/landcover/ne_10m_antarctic_ice_shelves_polys filter=lfs diff=lfs merge=lfs -text
shapes/landcover/ne_10m_antarctic_ice_shelves_polys/ne_10m_antarctic_ice_shelves_polys.dbf filter=lfs diff=lfs merge=lfs -text
shapes/landcover/ne_10m_glaciated_areas/ne_10m_glaciated_areas.prj filter=lfs diff=lfs merge=lfs -text
shapes/landcover/ne_10m_glaciated_areas/ne_10m_glaciated_areas.shx filter=lfs diff=lfs merge=lfs -text
shapes/landcover/ne_10m_urban_areas/ne_10m_urban_areas.shp filter=lfs diff=lfs merge=lfs -text
shapes/landcover filter=lfs diff=lfs merge=lfs -text
shapes/landcover/ne_10m_antarctic_ice_shelves_polys/ne_10m_antarctic_ice_shelves_polys.cpg filter=lfs diff=lfs merge=lfs -text
shapes/landcover/ne_10m_urban_areas/ne_10m_urban_areas.cpg filter=lfs diff=lfs merge=lfs -text
shapes/landcover/ne_10m_urban_areas/ne_10m_urban_areas.dbf filter=lfs diff=lfs merge=lfs -text
shapes/coastline/water_polygons.dbf filter=lfs diff=lfs merge=lfs -text
shapes/coastline/water_polygons.cpg filter=lfs diff=lfs merge=lfs -text
shapes/coastline/water_polygons.shp filter=lfs diff=lfs merge=lfs -text
shapes/landcover/ne_10m_antarctic_ice_shelves_polys/ne_10m_antarctic_ice_shelves_polys.shp filter=lfs diff=lfs merge=lfs -text
shapes/landcover/ne_10m_glaciated_areas filter=lfs diff=lfs merge=lfs -text
shapes/landcover/ne_10m_glaciated_areas/ne_10m_glaciated_areas.dbf filter=lfs diff=lfs merge=lfs -text
shapes/landcover/ne_10m_urban_areas filter=lfs diff=lfs merge=lfs -text
shapes/landcover/ne_10m_urban_areas/ne_10m_urban_areas.prj filter=lfs diff=lfs merge=lfs -text
shapes/coastline filter=lfs diff=lfs merge=lfs -text
shapes/landcover/ne_10m_urban_areas/ne_10m_urban_areas.shx filter=lfs diff=lfs merge=lfs -text
shapes/coastline/water_polygons.shx filter=lfs diff=lfs merge=lfs -text
shapes/landcover/ne_10m_antarctic_ice_shelves_polys/ne_10m_antarctic_ice_shelves_polys.prj filter=lfs diff=lfs merge=lfs -text
shapes/landcover/ne_10m_antarctic_ice_shelves_polys/ne_10m_antarctic_ice_shelves_polys.shx filter=lfs diff=lfs merge=lfs -text
shapes/landcover/ne_10m_glaciated_areas/ne_10m_glaciated_areas.cpg filter=lfs diff=lfs merge=lfs -text
shapes/landcover/ne_10m_glaciated_areas/ne_10m_glaciated_areas.shp filter=lfs diff=lfs merge=lfs -text
shapes/coastline/water_polygons.prj filter=lfs diff=lfs merge=lfs -text
